
body {
  background-color: #dadada;
  font-size: 10px;
}

.container {
  margin: 20px auto;
  width: 90%;
}

div {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: #dadada;
  margin: 1% 0;
  padding: 5px 15px;
}

.title {
  padding-bottom: 20px;
}

img {
  width: 50%;
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 175%;
  margin: 0;
  position: absolute;
  left: 7%;
  top: 10%;
  width: 100%
}

@media screen and (min-width: 575px) { /*tablet*/
   div {
    margin: 1%;
    width: 48%;
    float: inherit;
  }
}

@media screen and (min-width: 1199px) { /*desktop*/
   div {
    margin: 1%;
    width: 48%;
  }
}
