* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
}

.container {
  margin: 20px auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}

div {
  position: relative;
  background-color: #dadada;
  margin: 1% 0;
  padding: 5px 15px;
  display: flex;
  flex-wrap: wrap;
}

.title {
  padding-bottom: 20px;
  width: 100%;
}

img {
  width: 100%;
}

h1 {
  font-size: 175%;
  position: absolute;
  left: 7%;
  top: 10%;
}

@media only screen and (min-width: 575px) {
   div {
    width: 50%;
  }
  .title {
    width: 100%;
  }
}

@media only screen and (min-width: 1199px) {
   div {
    width: 25%;
  }
}
